@model ITBLOG.CORE.Models.BlogComment
@using ITBLOG.WEBUI.Models
@{
    ViewData["Title"] = Model.blog.Title;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="~/Assets/img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="category"><a href="#">@Model.blog.Genre</a></div>
                        </div>
                        <h1>@Model.blog.Title<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="~/Assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                                <div class="title"><span>@Model.blog.Author</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i>@Model.blog.ReleaseDay.ToString("dd/MM/yyyy")</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>@Model.NumberComments</div>
                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">@Model.blog.ContentHeader</p>
                            <p> <img src="~/Assets/img/@Model.blog.Image" alt="..." class="img-fluid"></p>
                            <p>@Model.blog.Content</p>
                        </div>
                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            @if(Model.firstBlogId < Model.blog.BlogId)
                            {
                            <a href="@Url.Action("Detail", "Blog", new { id = Model.previousBlog.BlogId})" class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text">
                                    <strong class="text-primary">Previous Post </strong>
                                    <h6>@Model.previousBlog.Title</h6>
                                </div>
                            </a>
                            }
                            
                            @if (Model.lastBlogId > Model.blog.BlogId)
                            {
                                <a href="@Url.Action("Detail", "Blog", new { id = Model.nextBlog.BlogId})" class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text">
                                        <strong class="text-primary">Next Post </strong>
                                        <h6>@Model.nextBlog.Title</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                                </a>
                            }
                            

                        </div>
                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">(@Model.NumberComments)</span></h3>
                            </header>
                            @foreach (var item in Model.Comments)
                            {
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="~/Assets/img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="title"><strong>@item.Name</strong><span class="date">May 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>@item.Content</p>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.Partial("_AddComment", new CommentModel())
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            @Html.Partial("_SearchComponent")
            <!-- Widget [Latest Posts Widget]        -->
            @Html.Partial("_LastestComponent", Model.LastBlogs)
            <!-- Widget [Tags Cloud Widget]-->
            @Html.Partial("_ListTagNames", Model.ListTagNames)
            
        </aside>
    </div>
</div>
