@model ITBLOG.CORE.Models.BlogComment
@{
    ViewData["Title"] = "GetAllBlog";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container">
    <div class="row">
        <main class="posts-listing col-lg-8">
            <div class="container">

                <div class="row">
                    <!-- post -->
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="post col-xl-6">
                            <div class="post-thumbnail"><a href="#"><img src="~/Assets/img/@item.Image" alt="..." class="img-fluid"></a></div>
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-between">
                                    <div class="category"><a href="@Url.Action("Detail", "BLog", new { id = item.BlogId})">@item.Genre</a></div>
                                </div><a href="@Url.Action("Detail", "BLog", new { id = item.BlogId})">
                                    <h3 class="h4">@item.Title</h3>
                                </a>
                                <p class="text-muted" id="content-blog">@item.ContentHeader</p>
                                <footer class="post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar"><img src="~/Assets/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                                        <div class="title"><span>@item.Author</span></div>
                                    </a>
                                    <div class="date"><i class="icon-clock"></i> @item.ReleaseDay.ToString("dd/MM/yyy")</div>
                                </footer>
                            </div>
                        </div>
                    }

                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    @Html.Raw(ViewBag.Paging)
                </nav>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            @Html.Partial("_SearchComponent")
            <!-- Widget [Latest Posts Widget]        -->
            @Html.Partial("_LastestComponent", Model.LastBlogs)
            @Html.Partial("_ListTagNames", Model.ListTagNames)
        </aside>
    </div>
</div>